<nav class="navbar-fixed-top">
  <div class="container">
    <ul *showAuthed="false" id="nexus" class="shadow">
      <li class="peek">
        <a class="icon-menu">
        </a>
        <ul>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/profile/winston">About</a>
          </li>
          <li>
            <a href="https://play.google.com/store/apps/details?id=com.WontonLabs.KnockThemOff2&hl=en">Projects (WIP)</a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="right">
        <a class="nav-link icon-user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/login">Account</a>
        <ul>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
          </li>
        </ul>
      </li>
      <li class="right">
        <a class="icon-print nav-link" routerLinkActive="active" routerLink="/profile/winston">About</a>
      </li>
    </ul>

    <ul *showAuthed="true" id="nexus" class="shadow">
      <li class="peek">
        <a class="icon-menu">
          <span>Menu</span>
        </a>
        <ul>
          <li>
              <a class="nav-link" routerLinkActive="active" routerLink="/profile/winston">About</a>
            </li>
          <li>
            <a class="icon-projects" href="https://play.google.com/store/apps/details?id=com.WontonLabs.KnockThemOff2&hl=en">Projects (WIP)</a>
          </li>
        </ul>
      </li>
      <li>
        <a  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
      </li>
      <li class="right">
        <a class="icon-user">{{ currentUser.username }}</a>
        <ul>
          <li>
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/profile', currentUser.username]">Profile</a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/settings">Settings</a>
          </li>
          <li>
            <a class="nav-link" href="" (click)="logout()">Logout</a>
          </li>
          <li *ngIf="currentUser.username === 'winston'">
            <a class="nav-link" routerLinkActive="active" routerLink="/editor">New Article</a>
          </li>
        </ul>
      </li>
      <li class="right">
        <a class="nav-link" routerLinkActive="active" routerLink="/profile/winston">About</a>
      </li>
    </ul>
  </div>
</nav>
