<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container">

    <a class="navbar-brand" routerLink="/">Winston Lee</a>

    <!-- Show this for logged out users -->
    <ul *showAuthed="false" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ion-home"></i>&nbsp;Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item hidden-xs">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>

    </ul>

    <!-- Show this for logged in users -->
    <ul *showAuthed="true" class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ion-home"></i>&nbsp;Home
        </a>
      </li>
      <li *ngIf="currentUser.username === 'winston'" class="nav-item hidden-xs">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" /> {{ currentUser.username }}
        </a>
      </li>
      <li class="nav-item hidden-xs">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="logout()" routerLinkActive="active">
          <i class="ion-log-out"></i>&nbsp;Logout
        </a>
      </li>

    </ul>

  </div>
</nav>