<nav class="navbar-fixed-top">
  <div class="container">


    <!-- Show this for logged out users -->
    <ul *showAuthed="false" id="nexus" class="shadow">
      <!-- Peek Menu -->
      <li class="peek">
        <a class="icon-menu">
        </a>
        <ul>
          <!-- Site Navigation-->
          <li class="hidden-sm hidden-md hidden-lg">
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/profile/winston">About</a>
          </li>
          <li>
            <a href="#">Projects (WIP)</a>
          </li>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Sign Up</a>
          </li>
        </ul>
      </li>
      <!-- Horizontal Menu -->
      <li class="hidden-xs">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <!-- Right handed menu -->
      <li class="right">
        <a class="nav-link icon-user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/login">Account</a>
        <ul>
          <li>
            <a class="nav-link"routerLinkActive="active" routerLink="/login">Login</a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
          </li>
        </ul>
      </li>
      <li class="right">
        <a class="icon-print nav-link" routerLinkActive="active" routerLink="/profile/winston">About</a>
      </li>
    </ul>

    <!-- Show this for logged in users -->

    <ul *showAuthed="true" id="nexus" class="shadow">
      <!-- Peek Menu -->
      <li class="peek">
        <a class="icon-menu">
          <span>Menu</span>
        </a>
        <ul>
          <!-- Site Navigation-->
          <li>
            <a class="icon-projects" href="#">Projects (WIP)</a>
          </li>
          <li>
            <a class="icon-settings" routerLink="/settings">Settings</a>
          </li>
        </ul>
      </li>
      <!-- Horizontal Menu -->
      <li>
        <a class="icon-portal" routerLink="/">Home</a>
      </li>
      <!-- Right handed menu -->
      <li class="right">
        <a class="icon-user">{{ currentUser.username }}</a>
        <ul>
          <li>
            <a class="icon-settings" [routerLink]="['/profile', currentUser.username]">Profile</a>
          </li>
          <li>
            <a class="icon-settings" routerLink="/settings">Settings</a>
          </li>
          <li>
            <a class="icon-settings" href="" (click)="logout()">Logout</a>
          </li>
          <li *ngIf="currentUser.username === 'winston'">
            <a class="icon-settings" routerLink="/editor">New Article</a>
          </li>
        </ul>
      </li>
      <li class="right hidden-xs">
        <a class="icon-print" routerLink="/profile/winston">About</a>
      </li>
    </ul>
  </div>
</nav>