<div class="article-preview">

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
  </a>
  <div class="row">

    <div class="preview-link col-6">

      <favorite-button [article]="article" (onToggle)="onToggleFavorite($event)" class="pull-xs-right">
        {{article.favoritesCount}}
      </favorite-button>

      <p>{{ article.description }}</p>

      <ul class="tag-list hidden-xs">
        <li class="tag-default tag-pill" *ngFor="let tag of article.tagList">
          {{ tag }}
        </li>
      </ul>

      <a [routerLink]="['/article', article.slug]">
        <span>Read more...</span>
      </a>
    </div>

    <div class="col-6">
      <article-meta [article]="article">
      </article-meta>
    </div>
  </div>
</div>