<div class="article-preview">

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
  </a>
  <div class="preview-link">
    <favorite-button [article]="article" (onToggle)="onToggleFavorite($event)" class="pull-xs-right">
      {{article.favoritesCount}}
    </favorite-button>

    <p>{{ article.description }}</p>

    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">
        {{ tag }}
      </li>
    </ul>

    <a [routerLink]="['/article', article.slug]">
      <span>Read more...</span>
    </a>

  </div>

  <article-meta [article]="article">
  </article-meta>
</div>