.logo-font {
  font-family: "Titillium Web", sans-serif;
}
.type-font {
  font-family: "Ubuntu Mono", monospace;
}
html {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #373a3c;
  background: #ebe9ea;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active {
  outline: 0;
}
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: black;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  *::first-line {
      text-shadow: none!important;
      box-shadow: none!important;
  }
  a,
  a:visited {
      text-decoration: underline;
  }
  abbr[title]::after {
      content: " (" attr(title) ")";
  }
  pre,
  blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
  }
  thead {
      display: table-header-group;
  }
  tr,
  img {
      page-break-inside: avoid;
  }
  .btn>.caret,
  .dropup>.btn>.caret {
      border-top-color: #000!important;
  }
  .tag {
      border: 1px solid black;
  }
  .table {
      border-collapse: collapse!important;
  }
  .table td,
  .table th {
      background: #fff!important;
  }
  .table-bordered th,
  .table-bordered td {
      border: 1px solid #ddd!important;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@-ms-viewport {
  width: device-width;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
a {
  color: #4e414a;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #3d8b3d;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):focus,
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):focus {
  outline: none;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
}
[role="button"] {
  cursor: pointer;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  background: transparent;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #818a91;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: left;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}
input[type="search"] {
  -webkit-appearance: none;
}
output {
  display: inline-block;
}
[hidden] {
  display: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
small,
.small {
  font-size: 80%;
  font-weight: normal;
}
mark,
.mark {
  padding: 0.2em;
  background: #fcf8e3;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 5px;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
.img-fluid,
.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 0.3rem;
}
.img-thumbnail {
  padding: 0.25rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
.figure {
  display: inline-block;
}
.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}
.figure-caption {
  font-size: 90%;
  color: #818a91;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background: #f7f7f9;
  border-radius: 0.25rem;
}
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: white;
  background: #333;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: #373a3c;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}
.table tbody + tbody {
  border-top: 2px solid #eceeef;
}
.table .table {
  background: white;
}
.table-sm th,
.table-sm td {
  padding: 0.3rem;
}
.table-bordered {
  border: 1px solid #eceeef;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: #f9f9f9;
}
.table-hover tbody tr:hover {
  background: #f6f6f6;
}
.table-active,
.table-active > th,
.table-active > td {
  background: #f6f6f6;
}
.table-hover .table-active:hover {
  background: #e8e8e8;
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background: #e8e8e8;
}
.table-success,
.table-success > th,
.table-success > td {
  background: #dff0d8;
}
.table-hover .table-success:hover {
  background: #d0e9c6;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background: #d0e9c6;
}
.table-info,
.table-info > th,
.table-info > td {
  background: #d9edf7;
}
.table-hover .table-info:hover {
  background: #c4e3f3;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background: #c4e3f3;
}
.table-warning,
.table-warning > th,
.table-warning > td {
  background: #fcf8e3;
}
.table-hover .table-warning:hover {
  background: #faf2cc;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background: #faf2cc;
}
.table-danger,
.table-danger > th,
.table-danger > td {
  background: #f2dede;
}
.table-hover .table-danger:hover {
  background: #ebcccc;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background: #ebcccc;
}
.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}
.thead-inverse th {
  color: white;
  background: #373a3c;
}
.thead-default th {
  color: #55595c;
  background: #eceeef;
}
.table-inverse {
  color: #eceeef;
  background: #373a3c;
}
.table-inverse.table-bordered {
  border: 0;
}
.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #55595c;
}
.table-reflow thead {
  float: left;
}
.table-reflow tbody {
  display: block;
  white-space: nowrap;
}
.table-reflow th,
.table-reflow td {
  border-top: 1px solid #eceeef;
  border-left: 1px solid #eceeef;
}
.table-reflow th:last-child,
.table-reflow td:last-child {
  border-right: 1px solid #eceeef;
}
.table-reflow thead:last-child tr:last-child th,
.table-reflow thead:last-child tr:last-child td,
.table-reflow tbody:last-child tr:last-child th,
.table-reflow tbody:last-child tr:last-child td,
.table-reflow tfoot:last-child tr:last-child th,
.table-reflow tfoot:last-child tr:last-child td {
  border-bottom: 1px solid #eceeef;
}
.table-reflow tr {
  float: left;
}
.table-reflow tr th,
.table-reflow tr td {
  display: block !important;
  border: 1px solid #eceeef;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background: white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.form-control::-ms-expand {
  background: transparent;
  border: 0;
}
.form-control:focus {
  border-color: #66afe9;
  outline: none;
}
.form-control::placeholder {
  color: #999;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background: #eceeef;
  opacity: 1;
}
.form-control:disabled {
  cursor: not-allowed;
}
select.form-control:not([size]):not([multiple]) {
  height: 2.5rem;
}
.form-control-file,
.form-control-range {
  display: block;
}
.form-control-label {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
}
.form-control-legend {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
}
_::-webkit-full-page-media.form-control,
input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  line-height: 2.5rem;
}
.form-control-static {
  min-height: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}
.form-group {
  margin-bottom: 1rem;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
}
.radio label,
.checkbox label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
}
.radio label input:only-child,
.checkbox label input:only-child {
  position: static;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -.25rem;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: .75rem;
}
input[type="radio"]:disabled,
input[type="radio"].disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"].disabled {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label {
  cursor: not-allowed;
}
.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn.focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
}
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-primary {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
}
.btn-primary:hover {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
}
.btn-primary:focus,
.btn-primary.focus {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
  background-image: none;
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background: #398439;
  border-color: #2d672d;
}
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus {
  background: #4e414a;
  border-color: #4e414a;
}
.btn-primary.disabled:hover,
.btn-primary:disabled:hover {
  background: #4e414a;
  border-color: #4e414a;
}
.btn-outline-primary {
  color: #cc9900;
  background-image: none;
  background: transparent;
  border-color: #cc9900;
}
.btn-outline-primary:hover {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
  color: white;
  background: #cc9900;
  border-color: #cc9900;
}
.btn-outline-primary:active:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active:hover,
.btn-outline-primary.active:focus,
.btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
  color: white;
  background: #398439;
  border-color: #2d672d;
}
.btn-outline-primary.disabled:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary:disabled:focus,
.btn-outline-primary:disabled.focus {
  border-color: #a3d7a3;
}
.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
  border-color: #a3d7a3;
}
.btn-outline-secondary {
  color: #ccc;
  background-image: none;
  background: transparent;
  border-color: #ccc;
}
.btn-outline-secondary:hover {
  color: white;
  background: #ccc;
  border-color: #ccc;
}
.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  color: white;
  background: #ccc;
  border-color: #ccc;
}
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.open > .btn-outline-secondary.dropdown-toggle {
  color: white;
  background: #ccc;
  border-color: #ccc;
}
.btn-outline-secondary:active:hover,
.btn-outline-secondary:active:focus,
.btn-outline-secondary:active.focus,
.btn-outline-secondary.active:hover,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.active.focus,
.open > .btn-outline-secondary.dropdown-toggle:hover,
.open > .btn-outline-secondary.dropdown-toggle:focus,
.open > .btn-outline-secondary.dropdown-toggle.focus {
  color: white;
  background: #a1a1a1;
  border-color: #8c8c8c;
}
.btn-outline-secondary.disabled:focus,
.btn-outline-secondary.disabled.focus,
.btn-outline-secondary:disabled:focus,
.btn-outline-secondary:disabled.focus {
  border-color: white;
}
.btn-outline-secondary.disabled:hover,
.btn-outline-secondary:disabled:hover {
  border-color: white;
}
.btn-outline-info {
  color: #5bc0de;
  background-image: none;
  background: transparent;
  border-color: #5bc0de;
}
.btn-outline-info:hover {
  color: white;
  background: #5bc0de;
  border-color: #5bc0de;
}
.btn-outline-info:focus,
.btn-outline-info.focus {
  color: white;
  background: #5bc0de;
  border-color: #5bc0de;
}
.btn-outline-info:active,
.btn-outline-info.active,
.open > .btn-outline-info.dropdown-toggle {
  color: white;
  background: #5bc0de;
  border-color: #5bc0de;
}
.btn-outline-info:active:hover,
.btn-outline-info:active:focus,
.btn-outline-info:active.focus,
.btn-outline-info.active:hover,
.btn-outline-info.active:focus,
.btn-outline-info.active.focus,
.open > .btn-outline-info.dropdown-toggle:hover,
.open > .btn-outline-info.dropdown-toggle:focus,
.open > .btn-outline-info.dropdown-toggle.focus {
  color: white;
  background: #269abc;
  border-color: #1f7e9a;
}
.btn-outline-info.disabled:focus,
.btn-outline-info.disabled.focus,
.btn-outline-info:disabled:focus,
.btn-outline-info:disabled.focus {
  border-color: #b0e1ef;
}
.btn-outline-info.disabled:hover,
.btn-outline-info:disabled:hover {
  border-color: #b0e1ef;
}
.btn-outline-danger {
  color: #B85C5C;
  background-image: none;
  background: transparent;
  border-color: #B85C5C;
}
.btn-outline-danger:hover {
  color: white;
  background: #B85C5C;
  border-color: #B85C5C;
}
.btn-outline-danger:focus,
.btn-outline-danger.focus {
  color: white;
  background: #B85C5C;
  border-color: #B85C5C;
}
.btn-outline-danger:active,
.btn-outline-danger.active,
.open > .btn-outline-danger.dropdown-toggle {
  color: white;
  background: #B85C5C;
  border-color: #B85C5C;
}
.btn-outline-danger:active:hover,
.btn-outline-danger:active:focus,
.btn-outline-danger:active.focus,
.btn-outline-danger.active:hover,
.btn-outline-danger.active:focus,
.btn-outline-danger.active.focus,
.open > .btn-outline-danger.dropdown-toggle:hover,
.open > .btn-outline-danger.dropdown-toggle:focus,
.open > .btn-outline-danger.dropdown-toggle.focus {
  color: white;
  background: #843939;
  border-color: #672d2d;
}
.btn-outline-danger.disabled:focus,
.btn-outline-danger.disabled.focus,
.btn-outline-danger:disabled:focus,
.btn-outline-danger:disabled.focus {
  border-color: #d7a3a3;
}
.btn-outline-danger.disabled:hover,
.btn-outline-danger:disabled:hover {
  border-color: #d7a3a3;
}
.btn-link {
  font-weight: normal;
  color: #4e414a;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link:disabled {
  background: transparent;
}
.btn-link,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover {
  border-color: transparent;
}
.btn-link:focus,
.btn-link:hover {
  color: #3d8b3d;
  text-decoration: underline;
  background: transparent;
}
.btn-link:disabled:focus,
.btn-link:disabled:hover {
  color: #818a91;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.2rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
/* START NAV BAR */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: inline-block;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.nav-link.disabled {
  color: #818a91;
}
.nav-link.disabled,
.nav-link.disabled:focus,
.nav-link.disabled:hover {
  color: #818a91;
  cursor: not-allowed;
  background: transparent;
}
.nav-inline .nav-item {
  display: inline-block;
}
.nav-inline .nav-item + .nav-item,
.nav-inline .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-pills::after {
  content: "";
  display: table;
  clear: both;
}
.nav-pills .nav-item {
  float: left;
}
.nav-pills .nav-item + .nav-item {
  margin-left: 0.2rem;
}
.nav-pills .nav-link {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  color: black;
  cursor: default;
}
.nav-stacked .nav-item {
  display: block;
  float: none;
}
.nav-stacked .nav-item + .nav-item {
  margin-top: 0.2rem;
  margin-left: 0;
}
.navbar {
  position: relative;
  padding: 0 1rem;
  background: black;
  -webkit-box-shadow: 0 6px 6px black;
  -moz-box-shadow: 0 6px 6px black;
       box-shadow: 0 6px 6px black;
}
.navbar::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 544px) {
  .navbar {
      border-radius: 0rem;
  }
}
.navbar-full {
  z-index: 1000;
}
@media (min-width: 544px) {
  .navbar-full {
      border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 544px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
      border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
}
.navbar-fixed-bottom {
  bottom: 0;
}
.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: 1030;
  width: 100%;
}
@media (min-width: 544px) {
  .navbar-sticky-top {
      border-radius: 0;
  }
}
.navbar-brand {
  float: left;
  padding-left: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
.navbar-divider {
  float: left;
  width: 1px;
  padding-top: .425rem;
  padding-bottom: .425rem;
  margin-right: 1rem;
  margin-left: 1rem;
  overflow: hidden;
}
.navbar-divider::before {
  content: "\00a0";
}
.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
@media (min-width: 544px) {
  .navbar-toggleable-xs {
      display: block !important;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
      display: block !important;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
      display: block !important;
  }
}
.navbar-nav .nav-item {
  float: left;
}
.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}
.navbar-nav .nav-link + .nav-link {
  margin-left: 1rem;
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}
/* END NAV BAR */
/* START CARD (EDITOR BOX) */

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
}
.card-block {
  padding: 1.25rem;
}
.card-block::after {
  content: "";
  display: table;
  clear: both;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.25rem;
}
.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  background: #f6f6f6;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
}
.card-header::after {
  content: "";
  display: table;
  clear: both;
}
.card-header:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background: #f6f6f6;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
}
.card-footer::after {
  content: "";
  display: table;
  clear: both;
}
.card-footer:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}
.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}
.card-header-tabs .nav-item {
  margin-bottom: 0;
}
.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
.card-primary {
  background: #4e414a;
  border-color: #4e414a;
}
.card-success {
  background: #4e414a;
  border-color: #4e414a;
}
.card-info {
  background: #5bc0de;
  border-color: #5bc0de;
}
.card-warning {
  background: #f0ad4e;
  border-color: #f0ad4e;
}
.card-danger {
  background: #B85C5C;
  border-color: #B85C5C;
}
.card-outline-primary {
  background: transparent;
  border-color: #4e414a;
}
.card-outline-secondary {
  background: transparent;
  border-color: #ccc;
}
.card-outline-info {
  background: transparent;
  border-color: #5bc0de;
}
.card-outline-success {
  background: transparent;
  border-color: #4e414a;
}
.card-outline-warning {
  background: transparent;
  border-color: #f0ad4e;
}
.card-outline-danger {
  background: transparent;
  border-color: #B85C5C;
}
.card-inverse .card-header,
.card-inverse .card-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: white;
}
.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
  color: rgba(255, 255, 255, 0.65);
}
.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
  color: white;
}
.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}
.card-img {
  border-radius: 0.25rem;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.card-img-top {
  border-radius: 0.25rem 0.25rem 0 0;
}
.card-img-bottom {
  border-radius: 0 0 0.25rem 0.25rem;
}
@media (min-width: 544px) {
  .card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: -0.625rem;
      margin-left: -0.625rem;
  }
  .card-deck .card {
      flex: 1 0 0;
      margin-right: 0.625rem;
      margin-left: 0.625rem;
  }
}
@media (min-width: 544px) {
  .card-group {
      display: flex;
      flex-flow: row wrap;
  }
  .card-group .card {
      flex: 1 0 0;
  }
  .card-group .card + .card {
      margin-left: 0;
      border-left: 0;
  }
  .card-group .card:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
      border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
      border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
      border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
      border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
      border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
      border-radius: 0;
  }
}
@media (min-width: 544px) {
  .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}
/* END CARD (EDITOR BOX) */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.page-item {
  display: inline;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: white;
  cursor: default;
  background: #4e414a;
  border-color: #4e414a;
}
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background: white;
  border-color: #ddd;
}
.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #4e414a;
  text-decoration: none;
  background: white;
  border: 1px solid #ddd;
}
.page-link:focus,
.page-link:hover {
  color: #3d8b3d;
  background: #eceeef;
  border-color: #ddd;
}
.tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.tag:empty {
  display: none;
}
.btn .tag {
  position: relative;
  top: -1px;
}
a.tag:focus,
a.tag:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.tag-default {
  background: #818a91;
}
.tag-default[href]:focus,
.tag-default[href]:hover {
  background: #687077;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: .2;
}
.close:focus,
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.bg-inverse {
  color: #eceeef;
  background: #373a3c;
}
.bg-faded {
  background: #f7f7f9;
}
.bg-primary {
  color: #fff !important;
  background: #4e414a !important;
}
a.bg-primary:focus,
a.bg-primary:hover {
  background: #cc9900 !important;
}
.bg-success {
  color: #fff !important;
  background: #4e414a !important;
}
a.bg-success:focus,
a.bg-success:hover {
  background: #cc9900 !important;
}
.bg-info {
  color: #fff !important;
  background: #5bc0de !important;
}
a.bg-info:focus,
a.bg-info:hover {
  background: #31b0d5 !important;
}
.bg-warning {
  color: #fff !important;
  background: #f0ad4e !important;
}
a.bg-warning:focus,
a.bg-warning:hover {
  background: #ec971f !important;
}
.bg-danger {
  color: #fff !important;
  background: #B85C5C !important;
}
a.bg-danger:focus,
a.bg-danger:hover {
  background: #9d4444 !important;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.pull-xs-left {
  float: left !important;
}
.pull-xs-right {
  float: right !important;
}
.pull-xs-none {
  float: none !important;
}
@media (min-width: 544px) {
  .pull-sm-left {
      float: left !important;
  }
  .pull-sm-right {
      float: right !important;
  }
  .pull-sm-none {
      float: none !important;
  }
}
@media (min-width: 768px) {
  .pull-md-left {
      float: left !important;
  }
  .pull-md-right {
      float: right !important;
  }
  .pull-md-none {
      float: none !important;
  }
}
@media (min-width: 992px) {
  .pull-lg-left {
      float: left !important;
  }
  .pull-lg-right {
      float: right !important;
  }
  .pull-lg-none {
      float: none !important;
  }
}
@media (min-width: 1200px) {
  .pull-xl-left {
      float: left !important;
  }
  .pull-xl-right {
      float: right !important;
  }
  .pull-xl-none {
      float: none !important;
  }
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-xs-left {
  text-align: left !important;
}
.text-xs-right {
  text-align: right !important;
}
.text-xs-center {
  text-align: center !important;
}
@media (min-width: 544px) {
  .text-sm-left {
      text-align: left !important;
  }
  .text-sm-right {
      text-align: right !important;
  }
  .text-sm-center {
      text-align: center !important;
  }
}
@media (min-width: 768px) {
  .text-md-left {
      text-align: left !important;
  }
  .text-md-right {
      text-align: right !important;
  }
  .text-md-center {
      text-align: center !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
      text-align: left !important;
  }
  .text-lg-right {
      text-align: right !important;
  }
  .text-lg-center {
      text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .text-xl-left {
      text-align: left !important;
  }
  .text-xl-right {
      text-align: right !important;
  }
  .text-xl-center {
      text-align: center !important;
  }
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}
.font-italic {
  font-style: italic;
}
.text-muted {
  color: #818a91 !important;
}
a.text-muted:focus,
a.text-muted:hover {
  color: #687077;
}
.text-primary {
  color: #4e414a !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #cc9900;
}
.text-success {
  color: #4e414a !important;
}
a.text-success:focus,
a.text-success:hover {
  color: #cc9900;
}
.text-info {
  color: #5bc0de !important;
}
a.text-info:focus,
a.text-info:hover {
  color: #31b0d5;
}
.text-warning {
  color: #f0ad4e !important;
}
a.text-warning:focus,
a.text-warning:hover {
  color: #ec971f;
}
.text-danger {
  color: #B85C5C !important;
}
a.text-danger:focus,
a.text-danger:hover {
  color: #9d4444;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background: transparent;
  border: 0;
}
.invisible {
  visibility: hidden !important;
}
.tag-default {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}
.tag-default:hover {
  text-decoration: none;
}
.tag-default.tag-outline {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: none !important;
}
ul.tag-list {
  padding-left: 0px !important;
  display: inline-block;
  list-style: none !important;
}
ul.tag-list li {
  display: inline-block !important;
}
.nav-link .user-pic {
  height: 21px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}
.nav-link:hover {
  transition: 0.3s all;
}
.nav-pills.outline-active .nav-link {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
  color: rgb(100, 100, 100);
  font-weight: bold;
}
.nav-pills.outline-active .nav-link:hover {
  color: white;
  border-radius: 1px;
  background: #cc9900;
}
.nav-pills.outline-active .nav-link.active {
  background: #f6f6f6 !important;
  border-bottom: 2px solid #4e414a !important;
  color: #cc9900 !important;
  font-weight: bold;
}
footer {
  background: #f6f6f6;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .logo-font {
  vertical-align: middle;
}
footer .attribution {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 0.8rem;
  color: rgb(160, 160, 160);
  font-weight: 300;
}
.error-messages {
  color: #B85C5C !important;
  font-weight: bold;
}
.banner {
  color: white;
}
.banner h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}
.container.page {
  margin-top: 7rem;
}
.preview-link {
  color: inherit !important;
}
.preview-link:hover {
  text-decoration: inherit !important;
}
.article-meta {
  display: block;
  font-weight: 300;
  border-radius: 30px;
}
.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  width: 35px;
  border-radius: 30px;
}
.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.article-meta .info .author {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500 !important;
}
.article-meta .info .date {
  color: rgb(160, 160, 160);
  font-size: 0.9rem;
  display: block;
}
.article-preview {
  border-top: 1px solid rgba(63, 83, 66, 0.5);
  padding: 1.5rem 0.5em;
  background: #f6f6f6;
  border-radius: 0.5rem;
}
.article-preview:hover {
  background: #ffffff;
}
.article-preview .article-meta {
  margin: 2.5rem 0 0.25rem 0;
  ;
}
.article-preview .preview-link h1 {
  font-weight: 600 !important;
  font-size: 2rem !important;
  padding: 0 0 0.5rem 0.5rem;
  border-bottom: 0.65px solid rgba(0, 0, 0, 0.1);
}
.article-preview .preview-link h1:hover {
  font-weight: 1000 !important;
}
.article-preview .preview-link p {
  text-indent: 3mm;
  font-weight: 300;
  color: rgb(100, 100, 100);
  margin: 2rem 0.2rem 2rem 0.2rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding: 0 0.3rem;
}
.article-preview .preview-link p:hover {
  font-weight: 300;
}
.article-preview .preview-link span {
  max-width: 30%;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  font-weight: 300;
  color: rgb(160, 160, 160);
  vertical-align: middle;
}
.article-preview .preview-link span:hover {
  font-weight: 400;
}
.article-preview .preview-link ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}
.article-preview .preview-link ul li {
  font-weight: 300;
  font-size: 0.8rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.btn .counter {
  font-size: 0.8rem !important;
}
.sidebar {
  background: #f6f6f6;
  border-radius: 0.5rem;
  padding: 0.8em 2em;
  text-align:left !important;
  margin-top:1em;
}
.sidebar p {
  text-align: center;
  margin-bottom: 0.2rem;
}
.home-page .banner p {
  color: white;
  font-size: 1.5rem;
  font-weight: 300 !important;
}
.home-page .banner h1 {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
}
.home-page .showcase .banner {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  background: #4e414a;
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.0)), url(assets/img/hexpattern.png);
  box-shadow: inset 0 8px 8px -8px #000, inset 0 -8px 8px -8px black;
}
.home-page .showcase .banner .leftSide {
  height: 75vh;
  width: 12em;
  box-sizing: border-box;
}
.home-page .showcase .banner .leftSide .ani {
  background: url(assets/img/winstontrix.png);
  opacity: 0.25;
  text-align: center;
  -webkit-animation: bgscroll 60s infinite linear;
  animation: bgscroll 60s infinite linear;
  -moz-animation: bgscroll 60s infinite linear;
}
.home-page .showcase .banner .leftSide h1 {
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.home-page .showcase .banner .leftSide h1:hover {  
  color: #cc9900;
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
}
.home-page .showcase .banner .rightSide {
  height: 75vh;
}
.home-page .showcase .banner .rightSide .row {
  margin: 7.5vh 1vw -5vh 1vw;
  box-sizing: border-box;
  height: 25vh;
}
.home-page .showcase .banner .rightSide .row h1 {
  text-align:left;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  height: 25vh;
}
.home-page .showcase .banner .rightSide .row h2 {
  font-size: 2rem;
  box-sizing: border-box;
  padding: 12vh 0 0 0;
  height: 25vh;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  text-align: left;
}
.home-page .showcase .banner .rightSide .row h2 a {
  color: #cc9900 !important;
}
.home-page .showcase .banner .rightSide .row h2 .app-preview {
  height: 20vh;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}
.home-page .showcase .banner .rightSide .row h3 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.home-page .showcase .banner .rightSide .row .img-contact {
  height: 7vh;
  border-radius: 25px;
  margin: 0vh 4vw;
  box-shadow: 5px 5px 5px black;
  -webkit-filter: opacity(80%); /* Safari */
  filter: opacity(80%);
}
.home-page .showcase .banner .rightSide .row .img-contact:hover {
  -webkit-filter: opacity(100%); /* Safari */
  filter: opacity(100%);
}
@keyframes bgscroll {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 520px;
  }
}
@-webkit-keyframes bgscroll {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 0 520px;
  }
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.article-page .banner {
  background: #4e414a;
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.0)), url(assets/img/hexpattern.png);
  padding: 5rem 0 2rem 0;
}
.article-page .banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
}
.article-page .banner .btn {
  opacity: 0.8;
}
.article-page .banner .btn:hover {
  transition: 0.1s all;
  opacity: 1;
}
.article-page .banner .article-meta {
  margin: 5rem 0 0 0;
}
.article-page .banner .article-meta .author {
  color: white;
}
.article-page .article-content p {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 1.3rem;
}
.article-page .article-content {  
  background:#fafafa;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
.article-page .article-content h1,
.article-page .article-content h2,
.article-page .article-content h3,
.article-page .article-content h4,
.article-page .article-content h5,
.article-page .article-content h6 {
  font-weight: 500 !important;
  margin: 1.6rem 0 1rem 0;
}
.article-page .article-actions {
  text-align: center;
  margin: 1.5rem 0 3rem 0;
}
.article-page .article-actions .article-meta .info {
  text-align: left;
}
.article-page .comment-form .card-block {
  padding: 0;
}
.article-page .comment-form .card-block textarea {
  border: 0px;
  padding: 1.25rem;
}
.article-page .comment-form .card-footer .btn {
  font-weight: 700;
  float: right;
}
.article-page .comment-form .card-footer .comment-author-img {
  height: 30px;
  width: 30px;
}
.article-page .card {
  border: 1px solid #e5e5e5;
  box-shadow: none !important;
}
.article-page .card .card-footer {
  border-top: 1px solid #e5e5e5;
  box-shadow: none !important;
  font-size: 0.8rem;
  font-weight: 300;
}
.article-page .card .comment-author-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}
.article-page .card .comment-author {
  display: inline-block;
  vertical-align: middle;
}
.article-page .card .date-posted {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: rgb(160, 160, 160);
}
.article-page .card .mod-options {
  float: right;
  color: #333;
  font-size: 1rem;
}
.article-page .card .mod-options i {
  margin-left: 5px;
  opacity: 0.6;
  cursor: pointer;
}
.article-page .card .mod-options i:hover {
  opacity: 1;
}
.profile-page .user-info {
  text-align: center;
  background: #4e414a;  
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.0)), url(assets/img/hexpattern.png);
  padding: 2rem 0 1rem 0;
  height: 75vh;
}
.profile-page .user-info .user-img {
  width: 100px;
  height: 100px;
  margin-top: 8vh;
  border-radius: 100px;
  margin-bottom: 1rem;
}
.profile-page .user-info h4 {
  color: white;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
.profile-page .user-info p {
  margin: 0 auto 0.5rem auto;
  color: #aaa;
  max-width: 450px;
  font-weight: 300;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.profile-page .user-info .action-btn {
  float: right;
  color: #999;
  border: 1px solid #999;
}
.profile-page .articles-toggle {
  margin: 0rem 0 0px 0;
}
.editor-page .tag-list i {
  font-size: 0.6rem;
  margin-right: 5px;
  cursor: pointer;
}
.typed-cursor {
  color: #cc9900;
  opacity: 1;
  animation: fadeCursor 1s linear;
}
@keyframes fadeCursor {
  0%, 100% {
      opacity: 0
  }
  50% {
      opacity: 1
  }
}
.mtest {  
  margin: 0 auto;
  position: relative;
  padding: 75vh 0 0 0;
}
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: 3s;
}

/*Custom navbar margins*/
@media only screen and (max-width: 376px) {
  body {
      margin-top: 30px;
  }
  .navbar-default {
      position: fixed;
      z-index: 1030;
      right: 0;
      left: 0;
      border-radius: 0;
      top: 0;
      border-width: 0 0 1px;
  }  
  .home-page .showcase .banner .rightSide .row h1 {
      font-size: 1.4rem;}
      .home-page .showcase .banner .rightSide .row h2 {
          font-size: 1.4rem;}
          .profile-page .user-info .user-img {
            margin-top: -10px;
          }

}
@media only screen and (min-width: 377px) and (max-width: 575px) {
  body {
      margin-top: 30px;
  }
  .navbar-default {
      position: fixed;
      z-index: 1030;
      right: 0;
      left: 0;
      border-radius: 0;
      top: 0;
      border-width: 0 0 1px;
  }  
  .home-page .showcase .banner .rightSide .row h1 {
      font-size: 1.75rem;}
      .home-page .showcase .banner .rightSide .row h2 {
          font-size: 1.75rem;}
}
@media (min-width: 576px) and (max-width: 767px) {
  body {
      margin-top: 30px;
  }
  .navbar-default {
      position: fixed;
      z-index: 1030;
      right: 0;
      left: 0;
      border-radius: 0;
      top: 0;
      border-width: 0 0 1px;
  }
}
@media (min-width: 767px) {
  body {
      margin-top: 30px;
  }
  .navbar-default {
      position: fixed;
      z-index: 1030;
      right: 0;
      left: 0;
      border-radius: 0;
      top: 0;
      border-width: 0 0 1px;
  }
   
  .home-page .showcase .banner .rightSide .row h1 {
    font-size: 2.7rem;}
    .home-page .showcase .banner .rightSide .row h2 {
      font-size: 2.7rem;}
}

/*Implement dropdown menu*/

.right {
  float: right !important;
}

.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.25);
}

/* Reset some CSS (May be optional) */
*, *::before, *::after {
  box-sizing: border-box;
}

input, label, textarea, select {
  font-size: inherit;
  font-family: inherit;
}

input {
  background-color: transparent;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Icomoon Package */
[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"] span,
[class*=" icon-"] span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

/* Navigation Style */
#nexus {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  min-width: 320px;
  border-bottom: 1px solid #cc9900;
  position: fixed;
  padding: 0;
  margin: 0;
  right: 0;
  left: 0;
  top: 0;
}
#nexus * {
  transition: all 0.33s;
  line-height: 2.5em;
  background-color: inherit;
  text-decoration: none;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  display: block;
  color: inherit;
  padding: 0;
  margin: 0;
}
#nexus ::webkit-scrollbar {
  display: none;
}
#nexus > li {
  position: relative;
  float: left;
}
#nexus > li > a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
#nexus > li > a:empty {
  padding-right: 0;
}
#nexus li ul {
  overflow: hidden;
  position: absolute;
  min-width: 100%;
  left: 0;
  border-bottom: 1px solid #cc9900;
}
#nexus li.right ul {
  left: auto;
  right: 0;
}
#nexus li li * {
  height: 0;
  border-left: 1px solid #cc9900;
  border-right: 1px solid #cc9900;
}
#nexus li:hover li * {
  height: 3em !important;
}
#nexus li:hover > a, #nexus li:hover > input {
  background-color: #cc9900;
}
#nexus a {
  padding: 0 1em;
}
#nexus input {
  padding-left: 3em;
  padding-right: 1em;
  min-width: 100%;
  outline: none;
  border: none;
}
#nexus input::-webkit-input-placeholder {
  color: #4F4F4F;
}
#nexus [class^="icon-"], #nexus [class*=" icon-"] {
  padding-left: 1em;
}
#nexus [class^="icon-"]::before,
#nexus [class*=" icon-"]::before {
  display: inline-block;
  text-align: center;
  width: 3em;
}
#nexus .icon-search {
  position: absolute;
  overflow: hidden;
  width: 3em;
  height: 3em;
  background: transparent !important;
}
#nexus .icon-menu {
  width: 3em !important;
  height: 2.5em;
  padding: 0 0.5em !important;
}
#nexus .icon-menu::before {
  content: '';
  outline-color: black;
  outline-style: solid;
  height: 0.2em;
  background: #cc9900;
  vertical-align: -2px;
  width: 2em !important;
  box-shadow: 0 -0.5em #cc9900, 0 -1em #cc9900;
}
#nexus .icon-menu:hover::before {
  outline-style: none;
  background: black;
  box-shadow: 0 -0.5em #fff, 0 -1em black;
}
#nexus .peek ul {
  overflow: hidden;
  position: fixed;
  top: 2.5em;
  border-right: 1px solid #cc9900;
  min-width: 0;
  width: 0.1px;
  z-index: 1;
  bottom: 0;
}
#nexus .peek ul li * {
  border-left: none;
  border-right: none;
}
#nexus .peek ul:hover {
  width: 12em !important;
}
#nexus .peek:hover ul {
  width: 4.85em;
}
#nexus .peek li {
  height: 2.5em;
  overflow: hidden;
}
#nexus + * {
  margin-top: 4em;
}

@media (max-width: 800px) {
  #nexus {
    font-size: 0.8em;
  }
  #nexus, #nexus * {
    transition: none !important;
  }
  #nexus .peek ul {
    width: 0;
  }
  #nexus .peek:hover ul {
    width: 15em;
  }
}

#nexus .nav-link.open,
#nexus .nav-link.open:focus,
#nexus .nav-link.open:hover,
#nexus .nav-link.active,
#nexus .nav-link.active:focus,
#nexus .nav-link.active:hover {
  text-decoration: overline!important;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0.6; }
}